@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	/*padding: 30px;*/
	padding: 0px;
	margin: 0px;
	max-width: 500px;
}
.container {
	width:450px;
	min-height:400px;
	max-height:auto;

}
.workingplace {
	background-color: #01D09C;
    height:250px;
    border-bottom: 2px solid #010;
    border-radius:10px;
    position:relative;
    margin-left: 10px;
}
.dateplace {
	color:white;
	margin:20px;
	margin-left:100px; 
}
.writeplace {
    opacity:0.2;
    display:inline-block;
    margin-left:100px;
   
}
.writeplace input {
	border:none;
	background-color: #01D09C;
	border-bottom:1px solid #010000;
	padding-bottom: 10px;
	font-size:20px;
	letter-spacing: 2px;	
}
ul {
	list-style: none;	
}
.buttons-top li {
	display:inline-block;
	color:white;
}
.buttons-top-right  {
	float:right;
	margin:12px 30px 10px 10px;
}
.button-exit {
	font-size:40px;
	cursor:pointer;
}
.button-upload {
    font-size: 30px;
    cursor:pointer;
}
.button-calendar {
	margin-left:20px;
	font-size:30px;
	cursor:pointer;
}
.button-menu {
	margin-left:20px;
	font-size:30px;
	cursor:pointer;
}
.buttons-bottom li {
	display:inline-block;
	color:white;
	margin-top:0px;
}
.button-bottom-clock {
	font-size:35px;
	margin-left:60px;
	cursor:pointer;
}
.button-bottom-note {
	font-size:35px;
	margin-left:25px;
	cursor:pointer;
}
.button-bottom-images {
	font-size:35px;
	margin-left:25px;
	cursor:pointer;
}
.button-bottom-microfone {
	font-size:35px;
	margin-left:25px;
	cursor:pointer;
	color:white;
}
.button-bottom-check {
	position:absolute;
	bottom:-30px;
	right:20px;
    cursor:pointer;
    background-color:#E94F85;
    border-radius:50%;
    line-height:10px;
    border:1px solid grey ;
    height:60px;
    width:60px;
    font-size:20px;
    text-align:center;
    z-index:2;    
}
.daytasks {
	background-color:white;
	min-height: 140px;
	height: auto;
	border-bottom: 1px solid grey;
	margin-left:30px;
}
h2 {
	color:#2EA4DB;
	font-size:22px;
	margin-bottom:0px;
	margin-left: 10px
}
.task {
	min-height: 110px;
}
.number {
	display:inline-block;
	background-color: #01D09C;
    height:60px;
    width:60px;
    border-radius: 50%;
    text-align: center;
    line-height:60px;
    font-size:20px;
    font-weight:bolder; 
    float:left;
    margin:30px 10px 10px 0px;
}
.text {
	display: inline-block;
	line-height: 15px;
	color: #000;
	margin:15px 10px 10px 20px;  

}
.edit {
	display: flex;
	font-size: 40px;
	float:right;
	margin:30px 25px 10px 20px;
	color:#292629;
}
.button-edit {
	margin-right: 25px;
	cursor:pointer;
}
.button-times {
	cursor:pointer;
}